<%- include('includes/head')%>
<%- include('includes/nav')%>
    <div class="cointainer">
      <div class="row">
        <div class="col-lg-3">

        </div>

        <div class="col-lg-6 my-3">
          <h1 class=" text-center">Agenda</h1>
          <p class="text-center lead">Seus contatos estão abaixo.</p>
          
          <div class="responsive-table">
            <table class="table my-3">
              <tr>
                <td>Lorenzo</td>
                <td>Lopes</td>
                <td>(15) 99999-9999</td>
                <td>Lorenzolopes.dev@gmail.com</td>
              </tr>
            </table>
          </div>
          

        </div>

        <div class="col-lg-3">

        </div>
      </div>
    </div>

<%- include('includes/footer')%>